{% extends "package_analysis/homepage/homepage_layout.html" %}
{% block body%}
    <section id="security" class="bg-light py-5">
        <div class="container">
            <h2 class="text-center">Packguard.dev Team</h2>
            <div class="text-center mb-4">
                <ul class="list-unstyled">
                <li>
                    1. Phd. Duc-Ly Vu - 
                    <a href="https://www.linkedin.com/in/ly-vu-865b5819b" target="_blank">LinkedIn</a> | 
                    <a href="https://www.lyvu.dev/" target="_blank">Homepage</a>
                    <label for="email">ducly.vu@packguard.dev</label>
                </li>
                <li>
                    2. Thanh-Cong Nguyen - 
                    <label for="email">thanh-cong.nguyen@packguard.dev</label> 
                </li>
                <li>
                    3. Minh-Khanh Vu -
                    <label for="email">minh-khanh.vu@packguard.dev</label> 
                </li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}