{% extends "package_analysis/homepage/homepage_layout.html" %}
{% block body%}
    <header class="bg-dark text-white text-center py-5">
        <div class="container">
            <h1>PackGuard.dev</h1>
            <p class="lead"></p>
            <a href="#products" class="btn btn-primary btn-lg">Try Demo</a>
        </div>
    </header>

<section id="products" class="container my-5">
    <h2 class="text-center">Products</h2>
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'dynamic_analysis' %}"><h4>Dynamic Analysis</h4></a>
            <ul>
                <li>Runtime behavior analysis</li>
                <li>System call tracing</li>
                <li>Malware detection</li>
            </ul>
        </div>
        <div class="col-md-6">
            <a href="{% url 'dynamic_analysis' %}"><h4>Open-source package Malware Detection</h4></a>
            <ul>
                <li>Signature-based</li>
                <li>Yara rules</li>
                <li>Machine Learning/Deep Learning</li>
                <li>LLMs</li>
            </ul>
        </div>
        <div class="col-md-6">
            <a href="{% url 'find_typosquatting' %}"><h4>Static AnalysisAnalysis</h4></a>
            <ul>
                <li>Package Typosquatting Detection</li>
                <li>Bandit4Mal</li>
            </ul>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <a href="{% url 'lastpymile' %}"><h4>Source Code FinderFinder</h4></a>
            <ul>
                <li>PyPI Source Code Finder.</li>
                <li>npm Source Code Finder.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <a href="{% url 'find_source_code' %}"><h4>Identifying Source Package Discrenpances</h4></a>
            <ul>
                <li>PyPI Source Code Finder.</li>
                <li>npm Source Code Finder.</li>
            </ul>
        </div>
    </div>
</section>



    <section id="demo" class="container my-5">
        <h2 class="text-center">Demo/Live Scan</h2>
        <!-- <p class="text-center"></p> -->
        <div class="text-center">
            <a href="#products" class="btn btn-primary btn-lg">Try Demo</a>
        </div>
    </section>

{% endblock %}
